*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  
    cursor: url(../img/default.png),default;
  }
  a{
    text-decoration: none;
  }
  ul,li { 
    list-style-type: none;
  }
  
    /* header styles */
    .mob-btn{
      display: none;
    }
    .mob-links{
      display: none;
    }
    .mob-nav{
      display: none;
    }
  header{
    max-width: 1440px;
    width: 100%;
    height: 100%;
  }
  
  .header_inner{
    max-width: 1440px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
  }
  .logo{
    cursor: url(../img/pointer.png),pointer;
  }
  input{
    cursor: url(../img/text.png),text;
  }
  .search-bar{
    width: 666px;
    display: flex;
    border: 2px solid var(--blue);
    border-radius: 5px;
    }
  #search-bar{
    width: 421px;
    height: 40px;
    border: none;
    border-right: 2px solid var(--blue);
    
  }
  #search-bar:focus {
    outline: 2px solid var(--blue);
  
  }
  #categories-select{
    width: 145px;
    border: none;
    cursor: url(../img/pointer.png),pointer;
  }
  
  .search{
    width: 100px;
    background-color: var(--blue);
    color: var(--bg);
    border: none;
    cursor: url(../img/pointer.png),pointer;
  }
  .search:active{
    box-shadow: 1px 1px 3px 1px black;
    transform: translateX(1px);
  }
  
  .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    
  }
  .link-icon img{
    width: 20px;
    height: 20px;
    align-self: center;
    cursor: url(../img/pointer.png),pointer;
  }
  .link-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'inter';
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    
  }
  
  
  nav{
    max-width: 1440px;
    width: 100%;
    height: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 291px;
    box-shadow: 0 0 1px 1px #E0E0E0;
  }
  .category-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: url(../img/pointer.png),pointer;
  }
  .nav-btn{
    background: none;
    border: none;
    cursor: url(../img/pointer.png),pointer;
  }
  .nav-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 28px;
  
  }
  .nav-category>a,
  .help-btn{
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: var(--dark);
    cursor: url(../img/pointer.png),pointer;
  }
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
    background-color: var(--bg);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px var(--light-blue);
  }
  .dropdown a:hover{
  
    color: red;
  
  }
  .help-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
  }
  
  .lang-dest{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  
  #lang-dest{
    border: none;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    cursor: url(../img/pointer.png),pointer;
  }
  
  
  
  .ship {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .ship>p{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }
  
  #country-list{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  #country-list>li{
    width: 210px;
  
  }
  
  
  
  .ship-toggle {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: url(../img/pointer.png),pointer;}
  
  .ship-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 200px;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .ship-menu li {
    margin: 0;
    padding: 0;
  }
  
  .ship-menu li a {
    display: block;
    padding: 5px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .ship-menu li a:hover {
    background-color: #f5f5f5;
  }
  
  .ship-menu li a img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .ship-menu li a span {
    margin-right: 10px;
  }
  
  .ship:hover .ship-menu {
    display: block;
  }
  
  .flag-image{
    width: 30px;
  }
  
  
  /* main styles */
  




  
  /* subscribe */
  
  .subscribe{
    max-width: 1440px;
    width: 100%;
    min-height: 190px;
    height: 100%;
    background: var(--grey-200);
    margin: 0 0 38px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subscribe>h4{
    color: var(--dark);
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  .subscribe>p{
    color: #606060;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  
  .subscribe-form{
    margin-top: 21px;
    position: relative;
  }
  .subscribe-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .subscribe-row>input{
    width: 274px;
    height: 40px;
    border: none;
    border-radius: 6px;
  }
  .subscribe-row>input::placeholder{
    padding-left: 36px;
    color: var(--grey-500);
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
  }
  
  .email-img{
    position: absolute;
    top: 9px;
    left: 8px;
  }
  .subscribe-btn{
    background: var(--primary-gradient, linear-gradient(180deg, #127FFF 0%, #0067FF 100%));
    height: 40px;
    border: none;
    padding: 0px 16px;
    border-radius: 6px;
    color: var(--bg);
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    cursor: url(../img/pointer.png),pointer;
  }
  
  /* footer styles */
  footer{
    max-width: 1440px;
    width: 100%;
  
  }
  .footer-div{
    max-width: 1180px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 61px;
  
  }
  
  .social{
    max-width: 276px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 59px;
  }
  .social-img{
    width: 126px;
    height: 44px;
    object-fit: contain;
  }
  .social>p{
    color:#505050;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .social-icons-img{
    width: 32px;
    height: 32px;
    object-fit: contain;
    cursor: url(../img/pointer.png),pointer;
  
    
  }
  .footer-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
  }
  
  .footer-card>p{
    color: var(--dark);
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 22px;
  }
  
  .footer-card>a{
    color: var(--grey-500);
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  
  .copyright{
    width: 100%;
    height: 68px;
    border-top: 1px solid var(--gray-300, #DEE2E7);
    background: var(--gray-200, #EFF2F4);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding-left: 128px;
    gap: 749px;
  }
  
  
  
  .language-switcher{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #language-select{
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    padding-right: 20px;
    cursor: url(../img/pointer.png),pointer;
  
  }
  
  #selected-flag {
    width: 24px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  
  .select-arrow {
    position: absolute;
    top: calc(50% - 12px); 
    right: 5px; 
    width: 24px;
    height: 24px;
  }
  
  
  
  /* second items page */
  .item-page{
    max-width: 1440px;
    width: 100%;
    background-color:#F7FAFC;
  
  }
  .direction{
    width: 100%;
    height: 64px;
    /* box-shadow: 0 0 1px 1px #E0E0E0; */
  }
  .chart{
    width: 1340px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .chart>span{
    color: var(--grey-500);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: url(../img/pointer.png),pointer;
  }
  
  /* ---------------------------------------------- */
  .item-filter{
    width: 1178px;
    margin: 1px auto;
    display: flex;
    
  }
  
  aside{
    max-width: 230px;
    width: 100%;
    margin-top: 16px;
    padding-right: 28px;
  }
  .filter-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:8px;
    margin-bottom: 20px;
    border-top: 1px solid #DEE2E7;
  }
  .filter-card-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .filter-card-title>h6{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    padding-top: 12px;
  }
  .filter-txt{
    color: var(--gray);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .filter-card-btn{
    width: 80px;
    text-align: left;
    color: var(--blue);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: transparent;
    cursor: url(../img/pointer.png),pointer;
    
  }
  
  /* ----------range bar ---------*/
  
  .price-input {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: 30px 0 35px;
    gap:9px;
  }
  .field-holder{
    display: flex;
    gap:9px;
  }
  .price-input .field {
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
    height: 45px;
    
  }
  .field>span{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
  }
  .field input {
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #DEE2E7;
    color: var(--grey-400);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .slider-div{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 0px 0 0;
  
  }
  .slider {
    height: 5px;
    position: relative;
    background: #AFD0FF;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 5%;
    position: absolute;
    border-radius: 5px;
    background: #0D6EFD;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -6px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: url(../img/pointer.png),pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #0D6EFD;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background:#AFD0FF;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  
  .range-btn{
    border-radius: 6px;
    border: 1px solid var(--gray-300);
    background:#FFF;
    box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
    width: 209px;
    height: 40px;
    color: var(--primary, #0D6EFD);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
      cursor: url(../img/pointer.png),pointer;
  }
  
  
  /* ..................................... */
  .list{
    max-width: 920px;
    width: 100%;
    
  }
  .filter-bar{
    width: 100%;
    height: 62px;
    border-radius: 6px;
    background: #FFF;
    border:1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px ;
    
  }

  
  
  .filter-bar-txt{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
  }
  .list-category{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bolder;
  }
  .filter-bar-sort{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .sort-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  input.verified-check{
    width: 34px;
    height: 24px;
    border-radius: 50px;
    cursor: url(../img/pointer.png),pointer;
  }
  label[for=Verified]{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  .mob-filter-buttons{
    display: none;
  }
  #sort{
    width: 172px;
    height: 40px;
    border:1px solid #E0E0E0;
    border-radius: 10px;
    cursor: url(../img/pointer.png),pointer;
  }
  .grid-view-btns {
    display: flex;
    border:1px solid #E0E0E0;
    border-radius: 3px;
}
.grid-view-btns button{
    background-color: transparent;
    border-radius: 3px;
    border: none;
    border-right:1px solid #E0E0E0;
    padding: 4px;
    cursor: url(../img/pointer.png),pointer;
  }
  
  .list-card-holder{
    max-width: 920px;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1 1fr);
    gap: 10px;
    background-color:#F7FAFC;
  
  
  }
  
   
  .list-card{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border:1px solid #E0E0E0;
    display: flex;
    margin-bottom: 10px;
    
  }
  .list-card-img{
    padding-top: 21.13px;
  }
  .list-card-img>img{
    width: 185px;
    height: 185px;
    object-fit: contain;
  }
  
  
  .list-card-txt{
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .list-card-txt>p{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
  }   
  .list-card-span{
    padding-top: 16px;
  }
  
  .list-card-span{
    color: var(--dark);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    letter-spacing: -0.2px;
  }
  .card-sale{
    color: #8B96A5;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration:line-through;
  }
  .item-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
    gap: 12px;
  }
  
  .point{
    color:#FF9017;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .list-order{
    color: var(--grey-500);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .list-order::before{
    display: inline-block;
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin-right: 9px;
    margin-bottom: 2px;
    background-color: #bdbdbd;
  
  }
  .list-order::after{
    display: inline-block;
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin-left: 9px;
    margin-bottom: 2px;
    background-color: #bdbdbd;
  
  }
  
  .list-shipping{
    color: #00B517;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .item-description{
    width: 607px;
    padding-right: 84px;
    color: var(--gray);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.2px;
  }
  
  .list-card-btn{
    width: 94px;
    background-color: transparent;
    border: none;
    margin-top: 8px;
    color: #0D6EFD;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: url(../img/pointer.png),pointer;
  }
  
  .add-to-favorites{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .fav-btn{
    padding: 8px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid var(--gray-300);
    background: var(--white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
    cursor: url(../img/pointer.png),pointer;
  
  } 
  
  .page-switch{
    display: flex;
    gap: 9px;
    justify-content: end;
    padding: 20px;
  }
  #page-select{
    width: 125px;
    height: 40px; 
    color: var(--dark);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    border: 1px solid #F7FAFC;
    cursor: url(../img/pointer.png),pointer;
  }
  .page-num{
    display: flex;
    align-items: center;
  }
  .page{
    width: 44px;
    height: 40px;
    border: 1px solid #F7FAFC;
    text-align: center;
    padding-top: 10px;
    color: var(--dark);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: url(../img/pointer.png),pointer;
  }
  
  .page:active{
    background-color: #606060;
  }
  
  
  
  /* mobile styles  */
  
  @media (width <= 376px) {
   body{
    overflow-x: hidden;
   }
    /* header styles */
    .mob-btn{
      display: block;
      background: none;
      border: none;
    }
  header{
    max-width: 375px;
    width: 100%;
    height: 100%;
  }
  
  .header_inner{
    max-width: 360px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
  }
  .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .mob-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .search-bar{
    width: 375px;
    order: 3;
    border: 1px solid var(--grey-300);
    
  }
  #search-bar{
    width: 360px;
    margin: auto;
    height: 40px;
    background: var(--gray-100, #F7FAFC);
    padding: 0 15px;
    border: 1px solid var(--grey-300);
    
  }
  #search-bar:focus {
    border: 1px solid var(--grey-300);
  
  }
  #categories-select{
    display: none;
  }
  
  .search{
    display: none;
  }
  .search:active{
    display: none;
  }
  
  .links{
    display: none;
  }
  
  
  nav{  
    display: none;
  }
  .mob-nav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3px;
    width: 100%;
    padding: 15.24px;
    overflow-x: hidden;
  }
  .mob-nav>a{
    border: none;
    border-radius: 6px;
    background: var(--gray-200, #EFF2F4);
    text-align: center;
    padding: 10px 18px;
    color: var(--blue);
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  
  
  /* subscribe */
  
  .subscribe{
    max-width: 375px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    background: var(--grey-200);
    padding: 10px 0 18px 0;
    display: flex;
    gap: 5px;
  }
  .subscribe>h4{
    font-size: 16px;
    line-height: 14px;
  }
  .subscribe>p{
    color: #606060;
    font-size: 13px;
    padding: 20px;
    line-height: 14px;
  }
  
  .subscribe-form{
    margin-top: 1px;
    position: relative;
  }
  .subscribe-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe-row>input{
    width: 214px;
    height: 30px;
    border: none;
    border-radius: 6px;
  }
  .subscribe-row>input::placeholder{
    padding-left: 36px;
    font-size: 13px;
  }
  
  .email-img{
    top: 5px;
    left: 12px;
  }
  .subscribe-btn{
    height: 30px;
    font-size: 13px;
  }
  
  
  /* footer styles */
  footer{
    max-width: 375px;
  }
  .footer-div{
    max-width: 375px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
  
  }
  
  .social{
    max-width:  275px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-bottom:0;
  }
  .social-img{
    width: 260px;
    height: 44px;
    object-fit: contain;
  }
  .social>p{
    display: none;
  }
  .social-icons-img{
    width: 40px;
    height: 40px;  
  }
  .footer-card{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
  }
  .footer-card:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-card>p{
    display: none;
  }
  .footer-card:last-child img{
    width: 80px;
    /* height: 90px; */
  }
  
  
  .copyright{
    width: 100%;
    height: 68px;
    border-top: 1px solid var(--gray-300, #DEE2E7);
    background: var(--gray-200, #EFF2F4);
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 79px;
  }
  
  
  
  .language-switcher{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #language-select{
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    padding-right: 20px;
    cursor: url(../img/pointer.png),pointer;
  
  }
  
  #selected-flag {
    width: 24px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  
  .select-arrow {
    position: absolute;
    top: calc(50% - 12px); 
    right: 5px; 
    width: 24px;
    height: 24px;
  }
  
  /* second page responsive */
  .item-page{
    max-width: 375px;
    width: 100%;
    background-color:#F7FAFC;
  
  }
.direction{
    display: none;
}
  .list{
    max-width: 375px;
  }
  .item-filter{
    width: 375px;
    
  }
  aside{
    display: none;
}
.filter-bar{
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.filter-bar-txt{
    display: none;
}
.sort-row{
      display: none;
      
    }
#sort{
      display: none;

}

.grid-view-btns {
    height: 30px;
}
.grid-view-btns button{
    padding: 2px;
  }
.mob-filter-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13px;

}
.sort-filter-mobile{
    width: 120px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid var(--grey-300);
    background: #FFF;
    padding: 6px 6px 6px 17.5px;
    color: var(--dark);
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sort-filter-mobile>span{
    display: flex;
}

.list-card-holder{
    max-width: 375px;
    width: 100%;
    margin-top: 10px;
  
  }
  
  .list-card{
    position: relative;
    width: 355px;
    margin: 0 10px;
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    
  }
  
  .list-card-img{
    padding-top: 8px;
    
  }
  .list-card-img>img{
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  
  .list-card-txt{
    padding-top: 12px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .list-card-txt>p{
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    line-height: normal; 
  }   
.list-card-span{
      padding-top: 1px;
    color: #333;
    font-size: 16px;
  }
  .card-sale{
    display: none;
  }
  .item-info{
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
    
  }
  
  .point{
    font-size: 13px;
  }
  .list-order{
    font-size: 13px;
  }
  .list-order::before{
    display: inline-block;
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin-right: 9px;
    margin-bottom: 2px;
    background-color: #bdbdbd;
  
  }
  .list-order::after{
    display: none;
  
  }
  
  .list-shipping{
    font-size: 13px;
  }
  .item-description{
    display: none;
  }
  
  .list-card-btn{display: none;
  }
  
  .add-to-favorites{
   display: none;
  }
  
  .page-switch{
    display: none;
  }
  
}