
:root {
    --bg:#FFFFFF;
    --dark: #1C1C1C;
    --gray: #505050;
    --grey-500: #8B96A5;
    --grey-400: #BDC4CD;
    --grey-300: #DEE2E7;
    --grey-200: #EFF2F4;
    --grey-100: #F7FAFC;
    --light-blue: #E3F0FF;
    --blue:#0D6EFD;
    --light-green:#C3FFCB;
    --green:#00B517;
    --light-orange:#FFE5BF;
    --orange:#FF9017;
    --red:#FA3434;
    --primary-light:#E5F1FF;

  }