*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  cursor: url(../img/default.png),default;
}
a{
  text-decoration: none;
}
ul,li { 
  list-style-type: none;
}

:root {
    --bg:#FFFFFF;
    --dark: #1C1C1C;
    --gray: #505050;
    --grey-500: #8B96A5;
    --grey-400: #BDC4CD;
    --grey-300: #DEE2E7;
    --grey-200: #EFF2F4;
    --grey-100: #F7FAFC;
    --light-blue: #E3F0FF;
    --blue:#0D6EFD;
    --light-green:#C3FFCB;
    --green:#00B517;
    --light-orange:#FFE5BF;
    --orange:#FF9017;
    --red:#FA3434;
    --primary-light:#E5F1FF;

  }

  /* header styles */
header{
  
  width: 100%;
  max-width: 142x;
  height: 100%;
}

.header_inner{
  max-width: 1440px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.logo{
  cursor: url(../img/pointer.png),pointer;
}
input{
  cursor: url(../img/text.png),text;
}
.search-bar{
  width: 666px;
  display: flex;
  border: 2px solid var(--blue);
  border-radius: 5px;
  }
#search-bar{
  width: 421px;
  height: 40px;
  border: none;
  border-right: 2px solid var(--blue);
  
}
#search-bar:focus {
  outline: 2px solid var(--blue);

}
#categories-select{
  width: 145px;
  border: none;
  cursor: url(../img/pointer.png),pointer;
}

.search{
  width: 100px;
  background-color: var(--blue);
  color: var(--bg);
  border: none;
  cursor: url(../img/pointer.png),pointer;
}
.search:active{
  box-shadow: 1px 1px 3px 1px black;
  transform: translateX(1px);
}

.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  
}
.link-icon img{
  width: 20px;
  height: 20px;
  align-self: center;
  cursor: url(../img/pointer.png),pointer;
}
.link-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'inter';
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  
}


nav{
  max-width: 1440px;
  width: 100%;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 291px;
  box-shadow: 0 0 1px 1px #E0E0E0;
}
.category-btn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: url(../img/pointer.png),pointer;
}
.nav-btn{
  background: none;
  border: none;
  cursor: url(../img/pointer.png),pointer;
}
.nav-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;

}
.nav-category a,p,.help-btn{
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark);
  cursor: url(../img/pointer.png),pointer;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
}

.dropdown:hover .dropdown-options {
  display: block;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px var(--light-blue);
}
.dropdown a:hover{

  color: red;

}
.help-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.lang-dest{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#lang-dest{
  border: none;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  cursor: url(../img/pointer.png),pointer;
}



.ship {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.ship-toggle {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: url(../img/pointer.png),pointer;}

.ship-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 200px;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ship-menu li {
  margin: 0;
  padding: 0;
}

.ship-menu li a {
  display: block;
  padding: 5px 20px;
  color: #333;
  text-decoration: none;
}

.ship-menu li a:hover {
  background-color: #f5f5f5;
}

.ship-menu li a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.ship-menu li a span {
  margin-right: 10px;
}

.ship:hover .ship-menu {
  display: block;
}

.flag-image{
  width: 30px;
}


/* main styles */

main{
  max-width: 1440px;
  width: 100%;
}
.main-holder{
  max-width: 1180px;
  width: 100%;
  margin: 20px auto ;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg) ;
  border: 1px solid #DEE2E7;
  border-radius: 5px ;
}
.main-category{
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 373px;
  height: 100%;
}

.main-category a{
  padding: 6px 14px ;
  color: var(--dark, #1C1C1C);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: url(../img/pointer.png),pointer;
}

.main-category a:hover{
  background-color: var(--primary-light);
  border-radius: 8px;
}

.main-banner{
  background:url(../img/Banner.png);
  background-repeat: no-repeat;
  max-width: 664px;
  width: 100%;
  min-height: 373px;
  height: 100%;
  padding: 56px 0 0 44px;
}

.main-banner>p{
  color: var(--base-color-dark, #1C1C1C);
  font-size: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: url(../img/text.png),text;
}
.main-banner>h1{
  color: var(--base-color-dark, #1C1C1C);
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: url(../img/text.png),text;
}

.main-btn{
  height: 40px;
  padding: 0px 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--dark, #1C1C1C);
  text-align: center;
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 17px;
  cursor: url(../img/pointer.png),pointer;
}

.main-offer{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  padding:0 0 0 19px;
}

.user-offer{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 6px;
  /* margin: auto;    */
}

.user{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 14px auto;
  gap: 9px;
}

.user>p{
  color: var(--dark, #1C1C1C);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join{
  margin: auto;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 6px;
  border: none;
  background-color: var(--blue);
  color: var(--bg);
  text-align: center;
  font-size: 13px;
  font-family: 'inter';
  font-weight: 500;
  cursor: url(../img/pointer.png),pointer;

}
.Log-in{
  margin: 7px  auto 12px;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  text-align: center;
  border-radius: 6px;
  border: none;
  background-color: var(--grey-300);
  color: var(--blue);
  text-align: center;
  font-size: 13px;
  font-family: 'inter';
  font-weight: 500;
  cursor: url(../img/pointer.png),pointer;
}

.orange{
  background-color: #F38332;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  height: 95px;
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
}
.orange>p{
  color: var(--bg);
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quotes{
  background-color: #55BDC3;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  height: 95px;
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
}

.quotes>p{
  color: var(--bg);
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* deals&offers section */
.deals_offers{
  max-width: 1440px;
  width: 100%;

}
.deals-holder{
  max-width: 1180px;
  width: 100%;
  height: 240px;
  margin:0 auto;
  padding: 0 0 0 20px;
  border: 1px solid #DEE2E7;
  display: flex;
  align-items: center;
}
.calendar{
  max-width: 281px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E0E0E0;


}
.calendar>h4{
  color: var(--dark);
  font-size: 20px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.calendar>p{
  color: var(--gray-500);
font-size: 16px;
font-family: 'inter';
font-style: normal;
font-weight: 400;
line-height: normal;
}
.date{
  display: flex;
  gap: 6px;
}
.black-box{
  width: 45px;
  height: 50px;
  border-radius: 4px;
  background:  #606060;
  text-align: center;
  margin-top: 18px;
 
}
.box-txt{
  color: var(--bg);
  padding-top: 8px;
  text-align: center;
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.time{
  color: var(--bg);
  text-align: center;
  font-size: 12px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.deals-components{
  /* flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  max-width: 179px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #E0E0E0;
}
.deals-components>img{
  width: 140px;
  height: 140px;
  padding: 9.333px 19.289px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.deals-components-txt{
  color: var(dark);
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.dicount{
  border-radius: 29px;
  background-color: #FFE3E3;
  width: 62px;
  height: 28px;
  padding: 6px 6px;
  margin: 0 auto;
  color: #EB001B;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
}

/* sale components */
.sale-components{
  max-width: 1440px;
  width: 100%;
  margin-top: 20px;
}
.sale-components-holder{
  max-width: 1180px;
  width: 100%;
  height: 257px;
  margin:0 auto;
  border: 1px solid #DEE2E7;
  display: flex;
  align-items: center;
}

.sale-components-title{
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  position: relative;
}
.sale-components-title>img{
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  object-fit: cover;
}
.title-holder{
  width: 154px;
  position: absolute;
  top: 20px;
  left: 22px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title-holder>h4{
  color: var(--dark);
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;
  cursor: url(../img/text.png),text;
}

.sale-btn{
  width: 100%;
  border-radius: 6px;
  background-color: var(--bg);
  height: 40px;
  padding: 0px 16px;
  border-radius: 6px;
  border: 1px solid  #FFF;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  cursor: url(../img/pointer.png),pointer;
}
.sale-btn:active{
  transform: translateY(1px);
  background-color: var(--light-blue);
}

.sale-items{
  max-width: 792px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #DEE2E7;
  
}
.sale-card{
  max-width: 197px;
  width: 100%;
  height: 127px;
  position: relative;
  border-bottom: 1px solid #DEE2E7;
  border-right: 1px solid #DEE2E7;
  cursor: url(../img/pointer.png),pointer;
  
}

.sale-card>img{
  position: absolute;
  right: 0;
  bottom: 0;
}

.sale-card-txt{
  position: absolute;
  left: 16px;
  top: 20px;
}

.sale-txt{
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sale-price{
  color: var(--gray-500);
  font-size: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  width: 50px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}