*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  cursor: url(../img/default.png),default;
}
a{
  text-decoration: none;
}
ul,li { 
  list-style-type: none;
}

:root {
    --bg:#FFFFFF;
    --dark: #1C1C1C;
    --gray: #505050;
    --grey-500: #8B96A5;
    --grey-400: #BDC4CD;
    --grey-300: #DEE2E7;
    --grey-200: #EFF2F4;
    --grey-100: #F7FAFC;
    --light-blue: #E3F0FF;
    --blue:#0D6EFD;
    --light-green:#C3FFCB;
    --green:#00B517;
    --light-orange:#FFE5BF;
    --orange:#FF9017;
    --red:#FA3434;
    --primary-light:#E5F1FF;

  }

  /* header styles */
  .mob-btn{
    display: none;
  }
  .mob-links{
    display: none;
  }
  .mob-nav{
    display: none;
  }
header{
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.header_inner{
  max-width: 1440px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.logo{
  cursor: url(../img/pointer.png),pointer;
}
input{
  cursor: url(../img/text.png),text;
}
.search-bar{
  width: 666px;
  display: flex;
  border: 2px solid var(--blue);
  border-radius: 5px;
  }
#search-bar{
  width: 421px;
  height: 40px;
  border: none;
  border-right: 2px solid var(--blue);
  
}
#search-bar:focus {
  outline: 2px solid var(--blue);

}
#categories-select{
  width: 145px;
  border: none;
  cursor: url(../img/pointer.png),pointer;
}

.search{
  width: 100px;
  background-color: var(--blue);
  color: var(--bg);
  border: none;
  cursor: url(../img/pointer.png),pointer;
}
.search:active{
  box-shadow: 1px 1px 3px 1px black;
  transform: translateX(1px);
}

.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  
}
.link-icon img{
  width: 20px;
  height: 20px;
  align-self: center;
  cursor: url(../img/pointer.png),pointer;
}
.link-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'inter';
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  
}


nav{
  max-width: 1440px;
  width: 100%;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 291px;
  box-shadow: 0 0 1px 1px #E0E0E0;
}
.category-btn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: url(../img/pointer.png),pointer;
}
.nav-btn{
  background: none;
  border: none;
  cursor: url(../img/pointer.png),pointer;
}
.nav-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;

}
.nav-category>a,
.help-btn{
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark);
  cursor: url(../img/pointer.png),pointer;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
}

.dropdown:hover .dropdown-options {
  display: block;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px var(--light-blue);
}
.dropdown a:hover{

  color: red;

}
.help-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.lang-dest{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#lang-dest{
  border: none;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  cursor: url(../img/pointer.png),pointer;
}



.ship {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.ship>p{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

#country-list{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
#country-list>li{
  width: 210px;

}



.ship-toggle {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: url(../img/pointer.png),pointer;}

.ship-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 200px;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ship-menu li {
  margin: 0;
  padding: 0;
}

.ship-menu li a {
  display: block;
  padding: 5px 20px;
  color: #333;
  text-decoration: none;
}

.ship-menu li a:hover {
  background-color: #f5f5f5;
}

.ship-menu li a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.ship-menu li a span {
  margin-right: 10px;
}

.ship:hover .ship-menu {
  display: block;
}

.flag-image{
  width: 30px;
}


/* main styles */

main{
  max-width: 1440px;
  width: 100%;

}
.main-holder{
  max-width: 1180px;
  width: 100%;
  margin: 20px auto ;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg) ;
  border: 1px solid #DEE2E7;
  border-radius: 5px ;
}
.main-category{
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 373px;
  height: 100%;
}

.main-category a{
  padding: 6px 14px ;
  color: var(--dark, #1C1C1C);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: url(../img/pointer.png),pointer;
}

.main-category a:hover{
  background-color: var(--primary-light);
  border-radius: 8px;
}

.main-banner{
  background:url(../img/Banner.png);
  background-repeat: no-repeat;
  max-width: 664px;
  width: 100%;
  min-height: 373px;
  height: 100%;
  padding: 56px 0 0 44px;
}

.main-banner>p{
  color: var(--base-color-dark, #1C1C1C);
  font-size: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: url(../img/text.png),text;
}
.main-banner>h1{
  color: var(--dark);
  font-size: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: url(../img/text.png),text;
}

.main-btn{
  height: 40px;
  padding: 0px 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--dark, #1C1C1C);
  text-align: center;
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 17px;
  cursor: url(../img/pointer.png),pointer;
}

.main-offer{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  padding:0 0 0 19px;
}

.user-offer{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 6px;
  /* margin: auto;    */
}

.user{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 14px auto;
  gap: 9px;
}

.user>p{
  color: var(--dark, #1C1C1C);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join{
  margin: auto;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 6px;
  border: none;
  background-color: var(--blue);
  color: var(--bg);
  text-align: center;
  font-size: 13px;
  font-family: 'inter';
  font-weight: 500;
  cursor: url(../img/pointer.png),pointer;

}
.Log-in{
  margin: 7px  auto 12px;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  text-align: center;
  border-radius: 6px;
  border: none;
  background-color: var(--grey-300);
  color: var(--blue);
  text-align: center;
  font-size: 13px;
  font-family: 'inter';
  font-weight: 500;
  cursor: url(../img/pointer.png),pointer;
}

.orange{
  background-color: #F38332;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  height: 95px;
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
}
.orange>p{
  color: var(--bg);
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quotes{
  background-color: #55BDC3;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  height: 95px;
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
}

.quotes>p{
  color: var(--bg);
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* deals&offers section */
.deals_offers{
  max-width: 1440px;
  width: 100%;

}
.deals-holder{
  max-width: 1180px;
  width: 100%;
  height: 240px;
  margin:0 auto;
  padding: 0 0 0 20px;
  border: 1px solid #DEE2E7;
  display: flex;
  align-items: center;
}
.calendar{
  max-width: 281px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E0E0E0;


}
.calendars>h4{
  color: var(--dark);
  font-size: 20px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.calendars>p{
  color: var(--gray-500);
font-size: 16px;
font-family: 'inter';
font-style: normal;
font-weight: 400;
line-height: normal;
}
.date{
  display: flex;
  gap: 6px;
}
.black-box{
  width: 45px;
  height: 50px;
  border-radius: 4px;
  background:  #606060;
  text-align: center;
  margin-top: 18px;
 
}
.box-txt{
  color: var(--bg);
  padding-top: 8px;
  text-align: center;
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.time{
  color: var(--bg);
  text-align: center;
  font-size: 12px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.extra-deals-comp{
  display: flex;
  width: 100%;
  height: 100%;
}
.deals-components{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 179px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #E0E0E0;
}
.deals-components>img{
  width: 140px;
  height: 140px;

}
.deals-components-txt{
  color: var(dark);
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.dicount{
  border-radius: 29px;
  background-color: #FFE3E3;
  width: 62px;
  height: 28px;
  padding: 6px 6px;
  margin: 0 auto;
  color: #EB001B;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
}

/* sale components */
.sale-components{
  max-width: 1440px;
  width: 100%;
  margin-top: 20px;
}
.sale-components-holder{
  max-width: 1180px;
  width: 100%;
  height: 257px;
  margin:0 auto;
  border: 1px solid #DEE2E7;
  display: flex;
  align-items: center;
}

.sale-components-title{
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  position: relative;
}
.sale-components-title>img{
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  object-fit: cover;
}
.title-holder{
  width: 154px;
  position: absolute;
  top: 20px;
  left: 22px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title-holder>h4{
  color: var(--dark);
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;
  cursor: url(../img/text.png),text;
}

.sale-btn{
  width: 100%;
  border-radius: 6px;
  background-color: var(--bg);
  height: 40px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid  #FFF;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  color: var(--dark);
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: url(../img/pointer.png),pointer;
}
.sale-btn:active{
  transform: translateY(1px);
  background-color: var(--light-blue);
}

.sale-items{
  max-width: 792px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #DEE2E7;
  
}
.sale-card{
  max-width: 197px;
  width: 100%;
  height: 127px;
  position: relative;
  border-bottom: 1px solid #DEE2E7;
  border-right: 1px solid #DEE2E7;
  cursor: url(../img/pointer.png),pointer;
  
}

.sale-card>img{
  position: absolute;
  right: 0;
  bottom: 6px;
}

.sale-card-txt{
  position: absolute;
  left: 16px;
  top: 20px;
}
.btn-form-mob{
  display: none;
}
.sale-txt{
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sale-price{
  color: var(--gray-500);
  font-size: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  width: 50px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

/* form styles */
.send-quote{
  max-width: 1440px;
  width: 100%;
  margin-top: 10px;
}

.send-quote-holder{
  position: relative;
  max-width: 1180px;
  width: 100%;
  height: 446px;
  margin: 0 auto;
  background-image: url(../img/bcgr.png),linear-gradient(to right, #2C7CF1 0%, rgba(0, 209, 255, 0.50) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}


.send-quote-txt{
  width: 440px;
  position: absolute;
  top: 51px;
  left: 49px;
}
.send-quote-txt>h2{
  color: var(--bg);
  font-size: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}
.send-quote-txt>p{
  padding-top: 13px;
  color: #FFF;
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.send-quote-form{
  position: absolute;
  right: 31px;
  top: 41px;
  width: 491px;
  height: 346px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

form>h4{
  color: var(--dark);
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  padding-left: 20px;
  padding-top: 22px;
}
.form-row{
  padding-left: 20px;
  margin-top: 20px;
}
.form-row>input,textarea{
  width: 440px;
  border-radius: 3px;
}

textarea{
  min-height: 73px;
}
input#need{
  height: 40px;
}
.form-row>input::placeholder{
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
textarea::placeholder{
  color: var(--gray-500);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quant{
  padding-left: 20px;
  padding-top:  20px;
  display: flex;
  gap: 8px;

}
label[for=quantity]{
  border: 1px solid var(--grey-300);
  border-radius: 3px;
  display: inline-block;
  width: 206px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

select#quantity{
  
  width: 111px;
  height: 40px;
  border: 1px solid var(--grey-300);
  border-radius: 3px;
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    
}

.submit{
  position: absolute;
  right: 373px;
  bottom: 61px;
  width: 96px;
  height: 40px;
  border: none;
  margin: 20px;
  /* padding: 0 16px; */
  border-radius: 6px;
  background: var(--blue, linear-gradient(180deg, #127FFF 0%, #0067FF 100%));
  color: var(--bg);
   font-family: 'Inter';
   font-weight: 500;
   z-index: 2;
}

/* recommended items */
.recommended-items{
  max-width: 1440px;
  width: 100%;
  margin-top: 15px;
}
.recommended-items>h3{
  color: var(--dark);
  font-size: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 120px;
  }
.recommended{
  max-width: 1180px;
  width: 100%;
  margin: 27.35px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.recommended-card{
  max-width: 211px;
  width: 100%;
  min-height: 310px;
  height: 100%;
  border: 1px solid var(--grey-300);
}
.recommended-card>img{
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 14.222px 24.889px 15.111px 24.889px;
}
.recommended-txt{
  padding-left: 16.01px;
  padding-bottom:8.86px;
}

.recommended-txt:nth-child(1) p:nth-child(1){
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 22px;
}

.recommended-txt:nth-child(2) p:nth-child(2){
  color: var(--grey-500);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

/* extra services section */
.extra{
  max-width: 1440px;
  width: 100%;
  margin-top: 30px;
}

.extra>h3{
  color: var(--dark);
  font-size: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 120px;
}
.extra-holder{
  max-width: 1180px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.extra-card{
  max-width: 270px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  border: 1px solid var(--grey-300);
  position: relative;

}
.extra-img{
  max-width: 270px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  object-fit: contain;
}
.circle{
  position: absolute;
  bottom: 53px;
  right: 21px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #D1E7FF;
  z-index: 1;
}

.extra-icon{
  position: absolute;
  bottom: 68px;
  right: 36px;
  z-index: 2;
}
.extra-txt{
  max-width: 175px;
  width: 100%;
  margin: 20px 0 20px 20px;
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 22px;
}

/* suppliers section */
.suppliers{
  max-width: 1440px;
  width: 100%;
  margin-top: 30px;
}
.suppliers>h3{
  color: var(--dark);
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 120px;
}
.suppliers-holder{
  max-width: 1180px;
  width: 100%;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.region{
  max-width: 221px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  gap:11px;
}
.region>img{
  width: 28px;
  height: 20px;
  object-fit: contain;
}

.region-txt>p{
  color: var(--dark);
font-size: 16px;
font-family: 'Inter';
font-weight: 400;
line-height: 24px;
letter-spacing: -0.2px;
}
.region-txt>a{
  color: var(--grey-500);
font-size: 13px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: url(../img/pointer.png),pointer;
}

/* subscribe */

.subscribe{
  max-width: 1440px;
  width: 100%;
  min-height: 190px;
  height: 100%;
  background: var(--grey-200);
  margin: 0 0 38px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe>h4{
  color: var(--dark);
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.subscribe>p{
  color: #606060;
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.subscribe-form{
  margin-top: 21px;
  position: relative;
}
.subscribe-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.subscribe-row>input{
  width: 274px;
  height: 40px;
  border: none;
  border-radius: 6px;
}
.subscribe-row>input::placeholder{
  padding-left: 36px;
  color: var(--grey-500);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
}

.email-img{
  position: absolute;
  top: 9px;
  left: 8px;
}
.subscribe-btn{
  background: var(--primary-gradient, linear-gradient(180deg, #127FFF 0%, #0067FF 100%));
  height: 40px;
  border: none;
  padding: 0px 16px;
  border-radius: 6px;
  color: var(--bg);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  cursor: url(../img/pointer.png),pointer;
}

/* footer styles */
footer{
  max-width: 1440px;
  width: 100%;

}
.footer-div{
  max-width: 1180px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 61px;

}

.social{
  max-width: 276px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 59px;
}
.social-img{
  width: 126px;
  height: 44px;
  object-fit: contain;
}
.social>p{
  color:#505050;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.social-icons-img{
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: url(../img/pointer.png),pointer;

  
}
.footer-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3px;
}

.footer-card>p{
  color: var(--dark);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 22px;
}

.footer-card>a{
  color: var(--grey-500);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.copyright{
  width: 100%;
  height: 68px;
  border-top: 1px solid var(--gray-300, #DEE2E7);
  background: var(--gray-200, #EFF2F4);
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding-left: 128px;
  gap: 749px;
}



.language-switcher{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#language-select{
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  padding-right: 20px;
  cursor: url(../img/pointer.png),pointer;

}

#selected-flag {
  width: 24px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.select-arrow {
  position: absolute;
  top: calc(50% - 12px); 
  right: 5px; 
  width: 24px;
  height: 24px;
}



/* second items page */
.item-page{
  max-width: 1440px;
  width: 100%;
  background-color:#F7FAFC;

}
.direction{
  width: 100%;
  height: 64px;
  /* box-shadow: 0 0 1px 1px #E0E0E0; */
}
.chart{
  width: 1340px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.chart>span{
  color: var(--grey-500);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: url(../img/pointer.png),pointer;
}

/* ---------------------------------------------- */
.item-filter{
  width: 1178px;
  margin: 1px auto;
  display: flex;
  
}

aside{
  max-width: 230px;
  width: 100%;
  margin-top: 16px;
  padding-right: 28px;
}
.filter-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:8px;
  margin-bottom: 20px;
  border-top: 1px solid #DEE2E7;
}
.filter-card-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.filter-card-title>h6{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  padding-top: 12px;
}
.filter-txt{
  color: var(--gray);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-card-btn{
  width: 80px;
  text-align: left;
  color: var(--blue);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: transparent;
  cursor: url(../img/pointer.png),pointer;
  
}

/* ----------range bar ---------*/

.price-input {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 30px 0 35px;
  gap:9px;
}
.field-holder{
  display: flex;
  gap:9px;
}
.price-input .field {
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 100%;
  height: 45px;
  
}
.field>span{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}
.field input {
  width: 100px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #DEE2E7;
  color: var(--grey-400);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.slider-div{
  display: flex;
  flex-direction: column-reverse;
  margin: 20px 0px 0 0;

}
.slider {
  height: 5px;
  position: relative;
  background: #AFD0FF;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 5%;
  position: absolute;
  border-radius: 5px;
  background: #0D6EFD;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: url(../img/pointer.png),pointer;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #0D6EFD;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background:#AFD0FF;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.range-btn{
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background:#FFF;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  width: 209px;
  height: 40px;
  color: var(--primary, #0D6EFD);
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
    cursor: url(../img/pointer.png),pointer;
}


/* ..................................... */
.list{
  max-width: 920px;
  width: 100%;
  
}
.filter-bar{
  width: 100%;
  height: 62px;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: #FFF;
  border:1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px ;
  
}



.filter-bar-txt{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}
.list-category{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: bolder;
}
.filter-bar-sort{
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
input.verified-check{
  width: 34px;
  height: 24px;
  border-radius: 50px;
  cursor: url(../img/pointer.png),pointer;
}
label[for=Verified]{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

#sort{
  width: 172px;
  height: 40px;
  border:1px solid #E0E0E0;
  border-radius: 10px;
  cursor: url(../img/pointer.png),pointer;
}

.grid-view-btns button{
  background-color: transparent;
  border:1px solid #E0E0E0;
  border-radius: 3px;
  padding: 7px;
  cursor: url(../img/pointer.png),pointer;
}

.list-card-holder{
  max-width: 920px;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  gap: 10px;
  background-color:#F7FAFC;


}

 
.list-card{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border:1px solid #E0E0E0;
  display: flex;
  margin-bottom: 10px;
  
}
.list-card-img{
  padding-top: 21.13px;
}
.list-card-img>img{
  width: 185px;
  height: 185px;
  object-fit: contain;
}


.list-card-txt{
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.list-card-txt>p{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; 
}   
.list-card-span{
  padding-top: 16px;
}

.list-card-span{
  color: var(--dark);
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  letter-spacing: -0.2px;
}
.card-sale{
  color: #8B96A5;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration:line-through;
}
.item-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
  gap: 12px;
}

.point{
  color:#FF9017;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.list-order{
  color: var(--grey-500);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.list-order::before{
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-right: 9px;
  margin-bottom: 2px;
  background-color: #bdbdbd;

}
.list-order::after{
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-left: 9px;
  margin-bottom: 2px;
  background-color: #bdbdbd;

}

.list-shipping{
  color: #00B517;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-description{
  width: 607px;
  padding-right: 84px;
  color: var(--gray);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: -0.2px;
}

.list-card-btn{
  width: 94px;
  background-color: transparent;
  border: none;
  margin-top: 8px;
  color: #0D6EFD;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: url(../img/pointer.png),pointer;
}

.add-to-favorites{
  position: absolute;
  right: 20px;
  top: 20px;
}
.fav-btn{
  padding: 8px;
  background: transparent;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  cursor: url(../img/pointer.png),pointer;

} 

.page-switch{
  display: flex;
  gap: 9px;
  justify-content: end;
  padding: 20px;
}
#page-select{
  width: 125px;
  height: 40px; 
  color: var(--dark);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border: 1px solid #F7FAFC;
  cursor: url(../img/pointer.png),pointer;
}
.page-num{
  display: flex;
  align-items: center;
}
.page{
  width: 44px;
  height: 40px;
  border: 1px solid #F7FAFC;
  text-align: center;
  padding-top: 10px;
  color: var(--dark);
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: url(../img/pointer.png),pointer;
}

.page:active{
  background-color: #606060;
}



/* mobile styles  */

@media (width <= 376px) {
 
  /* header styles */
  .mob-btn{
    display: block;
    background: none;
    border: none;
  }
header{
  max-width: 375px;
  width: 100%;
  height: 100%;
}

.header_inner{
  max-width: 360px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.mob-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-bar{
  width: 375px;
  order: 3;
  border: 1px solid var(--grey-300);
  
}
#search-bar{
  width: 360px;
  margin: auto;
  height: 40px;
  background: var(--gray-100, #F7FAFC);
  padding: 0 15px;
  border: 1px solid var(--grey-300);
  
}
#search-bar:focus {
  border: 1px solid var(--grey-300);

}
#categories-select{
  display: none;
}

.search{
  display: none;
}
.search:active{
  display: none;
}

.links{
  display: none;
}


nav{  
  display: none;
}
.mob-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  padding-left: 15.24px;
  overflow-x: hidden;
}
.mob-nav>a{
  border: none;
  border-radius: 6px;
  background: var(--gray-200, #EFF2F4);
  text-align: center;
  padding: 10px 18px;
  color: var(--blue);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* main styles */

main{
  max-width: 375px;
  width: 100%;
}
.main-holder{
  max-width: 365px;
  width: 100%;
  margin: 0 ;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg) ;
  border: none;
}
.main-category{
  display: none;
}

.main-banner{
  max-width: 375px;
  min-height: 180px;
  margin: 15px;
  object-fit: cover;
  padding: 25px 0 0 25px;
}

.main-banner>p{
  font-size: 18px;
  font-weight: 400;

}
.main-banner>h1{
  font-size: 18px;
  font-weight: 600;
}

.main-btn{
  height: 30px;
  padding: 0px 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.25);
  background-color: var(--bg);
  color: var(--blue);
  font-size: 13px;
  margin-top: 18px;
}

.main-offer{
 display: none;
}


/* deals&offers section */
.deals_offers{
  max-width: 375px;
  width: 100%;

}
.deals-holder{
  max-width: 360px;
  width: 100%;
  min-height: 245px;
  height: 100%;
  margin:0 auto;
  padding: 0 0 0 20px;
  border: 1px solid #DEE2E7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar{
  max-width: 360px;
  width: 100%;
  height: 65px;
  padding-top: 14px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: row;
  border-right: 1px solid #E0E0E0;


}
.calendars{
  width: 100%;
  height: 100%;
}
.calendar>h4{
  font-size: 18px;
  line-height: normal;
}

.calendar>p{
  color: var(--gray-500);
font-size: 16px;
font-family: 'inter';
font-style: normal;
font-weight: 400;
line-height: normal;
}
.date{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-right: 10px;
}
.mob-none{
  display: none;
}
.black-box{
  width: 45px;
  height: 44px;
  border-radius: 4px;
  background:  #606060;
  text-align: center;
  margin-top: 18px;
 
}
.box-txt{
  color: var(--bg);
  padding-top: 8px;
  text-align: center;
  font-size: 16px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.time{
  color: var(--bg);
  text-align: center;
  font-size: 12px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.extra-deals-comp{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 113px;
  max-height: 154px;
  width: 100%;
  height: 100%;
  padding-top: 11px;
}
.deals-components:nth-of-type(1){
  display: none;
}
.deals-components:nth-of-type(2){
  display: none;
}
/* .deals-components:nth-of-type(3){
  display: none;
} */
.deals-components{
  flex-direction: column;
  max-width: 113px;
  max-height: 154px;
  align-items: start;
  padding: 18px 14px 0 14px;
  border-top: 1px solid #E0E0E0;
}
.deals-components>img{
  width: 98px;
  height: 98px;
}
.deals-components-txt{
  font-size: 13px;
}
.dicount{
  width: 52px;
  height: 24px;
  font-size: 12px;
}

/* sale components */
.sale-components{
  
}
.sale-components-holder{
  max-width: 1180px;
  width: 100%;
  height: 257px;
  margin:0 auto;
  border: 1px solid #DEE2E7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-components-title{
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  position: relative;
}
.sale-components-title>img{
  display: none;
}
.title-holder{
  width: 200px;
  position: absolute;
  top: 20px;
  left: 22px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title-holder>h4{
  font-size: 18px;
}

.sale-btn{
display: none;
  
}
.sale-btn:active{
  transform: translateY(1px);
  background-color: var(--light-blue);
}

.sale-items{
  max-width: 792px;
  width: 100%;
  display: flex;
  flex-wrap:nowrap;
  border: 1px solid #DEE2E7;
  
}
.sale-card{
  max-width: 113px;
  width: 100%;
  height: 138px;
  cursor: url(../img/pointer.png),pointer;
  
}
.sale-card:nth-of-type(1){
  display: none;
}
.sale-card:nth-of-type(2){
  display: none;
}
.sale-card:nth-of-type(3){
  display: none;
}
.sale-card:nth-of-type(4){
  display: none;
}
.sale-card:nth-of-type(5){
  display: none;
}
.sale-card>img{

  position: absolute;
  left: 14px;
  top: 3px;

}

.sale-card-txt{
  width: 112px;
  position: absolute;
  left: 14px;
  top: 90px;
}

.sale-txt{
  color: var(--dark);
  font-size: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sale-price{
  font-size: 10px;
}
.btn-form-mob{
  height: 22px;
  align-items: center;
  width: 100%;
  display: flex;
  gap:6px;
  padding: 20px 0 20px 22px;

}

.mob-class{
  color: var(--blue);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/* form styles */
.send-quote{
  max-width: 375px;
  width: 100%;
  margin-top: 5px;
}

.send-quote-holder{
  position: relative;
  max-width: 375px;
  width: 100%;
  height: 155px;
  background-image: url(../img/bcgr.png),linear-gradient(to right, #2C7CF1 0%, rgba(0, 209, 255, 0.50) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}


.send-quote-txt{
  width: 217px;
  position: absolute;
  top: 30px;
  left: 27px;
}
.send-quote-txt>h2{
  color: var(--bg);
  font-size: 18px;
}
.send-quote-txt>p{
 display: none;
}
.send-quote-form{
 display: none;
}

.submit{
  width: 96px;
  height: 30px;
  border: none;
  margin: 20px;
  right: 237px;
  bottom: 4px;
  /* padding: 0 16px; */
  
}


/* recommended items */
.recommended-items{
  max-width: 375px;
  width: 100%;
  margin-top: 20px;
}
.recommended-items>h3{
  font-size: 18px;
  padding-left: 10px;
  }
.recommended{
  max-width: 375px;
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;

}
.recommended-card{
  max-width: 165px;
  width: 100%;
  min-height: 240px;
  height: 100%;
  border: 1px solid var(--grey-300);
  border-radius: 5px;
}
.recommended-card>img{
  width: 143px;
  height: 122px;
  object-fit: cover;
  padding: 14.222px 24.889px 15.111px 24.889px;
}
.recommended-txt{
  padding-left: 16.01px;
  padding-bottom:8.86px;
}

.recommended-txt:nth-child(2) p:nth-child(2){
  color: var(--grey-500);
  font-size: 13px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}


/* extra services section */
.extra{
  max-width: 375px;
  width: 100%;
  margin-top: 30px;
}

.extra>h3{
  color: var(--dark);
  font-size: 18px;
  padding-left: 20px;
}
.extra-holder{
  max-width: 375px;
}
.extra-card{
  max-width: 170px;
  max-height: 150px;


}
.extra-img{
  max-width: 170px;
  max-height: 150px;

}
.circle{
  position: absolute;
  bottom: 53px;
  right: 18px;
  width: 35px;
  height: 35px;
}
.extra-icon{
  width: 18px;
  height: 18px;
  object-fit: contain;
  position: absolute;
  bottom: 60px;
  right: 26px;
  z-index: 2;
}
.extra-txt{
  max-width: 140px;
  width: 100%;
  margin: 8px 0 8px 8px;
  color: var(--dark);
  font-size: 13px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 22px;
}

/* suppliers section */
.suppliers{
  max-width: 375px;
  margin-top: 10px;
}
.suppliers>h3{
  font-size: 18px;
  padding-left: 20px;
}
.suppliers-holder{
  max-width: 375px;
  width: 100%;
  margin: 10px auto;
  gap: 5px;
}
.region{
  max-width: 160px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  gap:5px;
}
.region>img{
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.region-txt>p{
  color: var(--dark);
font-size: 13px;
line-height: 10px;
}
.region-txt>a{
font-size: 10px;

}

/* subscribe */

.subscribe{
  max-width: 375px;
  width: 100%;
  min-height: 100px;
  height: 100%;
  background: var(--grey-200);
  padding: 10px 0 18px 0;
  display: flex;
  gap: 5px;
}
.subscribe>h4{
  font-size: 16px;
  line-height: 14px;
}
.subscribe>p{
  color: #606060;
  font-size: 13px;
  padding: 20px;
  line-height: 14px;
}

.subscribe-form{
  margin-top: 1px;
  position: relative;
}
.subscribe-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subscribe-row>input{
  width: 214px;
  height: 30px;
  border: none;
  border-radius: 6px;
}
.subscribe-row>input::placeholder{
  padding-left: 36px;
  font-size: 13px;
}

.email-img{
  top: 5px;
  left: 12px;
}
.subscribe-btn{
  height: 30px;
  font-size: 13px;
}


/* footer styles */
footer{
  max-width: 375px;
}
.footer-div{
  max-width: 375px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;

}

.social{
  max-width:  275px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-bottom:0;
}
.social-img{
  width: 260px;
  height: 44px;
  object-fit: contain;
}
.social>p{
  display: none;
}
.social-icons-img{
  width: 40px;
  height: 40px;  
}
.footer-card{
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
.footer-card:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-card>p{
  display: none;
}
.footer-card:last-child img{
  width: 80px;
  /* height: 90px; */
}


.copyright{
  width: 100%;
  height: 68px;
  border-top: 1px solid var(--gray-300, #DEE2E7);
  background: var(--gray-200, #EFF2F4);
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 79px;
}



.language-switcher{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#language-select{
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  padding-right: 20px;
  cursor: url(../img/pointer.png),pointer;

}

#selected-flag {
  width: 24px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.select-arrow {
  position: absolute;
  top: calc(50% - 12px); 
  right: 5px; 
  width: 24px;
  height: 24px;
}

/* second page responsive */
.item-page{
  max-width: 375px;
  width: 100%;
  background-color:#F7FAFC;

}


}

